:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #2c3e50;
}

h1 {
  margin-left: 1rem;
}

section {
  display: flex;
  place-items: center;
}

#bpmn-container {
  height: 80vh;
  width: 80vw;
  overflow: hidden;
  border-style: solid;
  border-color: #b0b0b0;
  border-width: .1rem;
  border-radius: .2rem;
}

footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}

.title {
  text-align: center;
  margin-top: 3rem;
}

.bpmn-highlight.bpmn-task  > rect {
  fill: pink;
  fill-opacity: 30%;
  stroke: coral;
}
.bpmn-highlight.bpmn-task >rect:hover {
  fill-opacity: 70%;
}
